.h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700px;
}
.h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500px;
}
.h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 900px;
}
.h2{font-family: 'Roboto', sans-serif;
    font-weight: 700px;}
.h4{font-family: 'Roboto', sans-serif;
    font-weight: 400px;}